
tbody {
    padding-top: 15px;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#tablaListaCompras tbody{
margin-bottom: 5%;
}
#resumenBarra{
  position: fixed; right: 2%;
}
label.form-label {
  font-family: 'Montserrat';
}
.col-md-3.sm-12.order-md-2.mb-4 {
  font-family: 'Montserrat';
  
}
#btnElimina{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12pt;
    background-color:#B3252C ;
    border: none;
    display: end;
}
#btnElimina:hover{
    color: white;
    background-color: #b90808;
    box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#btnCompra, #btnCompra2, #btnCompra3, #btnValidaDatos, #btnIraCuenta, #btnQr{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12pt;
    background-color:#E4C247 ;
    border: none;
    color: black;
    margin-top: 3%;
}
#btnQr:hover{
  color: white;
  background-color: #deaf06;
  box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
.d-flex {
  padding-inline-end: 0px;
}
#btnIraCuenta:hover{
  color: white;
  background-color: #deaf06;
  box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#btnValidaDatos:hover{
  color: white;
  background-color: #deaf06;
  box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#btnCompra3:hover{
  color: white;
  background-color: #deaf06;
  box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#btnCompra2:hover{
    color: white;
    background-color: #deaf06;
    box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
#btnCompra:hover{
    color: white;
    background-color: #deaf06;
    box-shadow: 0px 5px 8px rgba(61, 61, 61, 0.301);
}
/* .form-check {
    margin-bottom: 10%;
} */
.form-check-input {
    background-color: white; 
  }

  .form-check-input:checked {
    background-color: black; 
  }

  #tablaListaCompras{
    font-family: 'Montserrat';
    font-size: 12pt;
  }
  #tablaListaCompras th:nth-child(1) {
    width: 40%; 
  }


  #tablaListaCompras th:nth-child(2),
  #tablaListaCompras td:nth-child(2) {
    width: 20%; 
  }
  
  #tablaListaCompras th:nth-child(3),
  #tablaListaCompras td:nth-child(3) {
    width: 20%; 
  }
  
  #tablaListaCompras th:nth-child(4),
  #tablaListaCompras td:nth-child(4) {
    width: 10%; 
  }
  #tablaListaCompras thead {
    background-color: #008E93; 
    color: white;
    width: auto;
    height: auto;
  }
table{
    display:grid;

}
thead{
    margin-top: 1%;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.301);
}
.col-md-8.col-lg-9.order-md-last {
    box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.301);
    border-radius: 15px;
    margin-bottom: 1%;
    background-color: #f5f5f5;
    padding: 5%;
}

 th {
padding: 15px;

}
tbody {
    box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.301);
   border-radius: 15px;
   height: auto;
   margin-top: 1%;
}
button.accordion-button {
  background-color:#008E93;
  color: white;
  font-family: 'Montserrat';
}
input.paguitos{
 height: 80%;
  width: 110px;
  margin-right: 6%; 
  position: absolute; 
  top: 50%; right: 0; 
  transform: translateY(-50%);
 background-color: transparent; 
 border: none; padding: 0;
}
input.paguitos1{
 height: auto; 
 width: 110px; 
 margin-right: 6%; 
 position: absolute; 
 top: 50%; right: 0; 
 transform: translateY(-50%);
background-color: transparent;
 border: none; padding: 0;
}

/*responsive*/
@media (max-width: 768px) {
    th {
      padding: 4px; /* Ajusta el padding para dispositivos pequeños */
      font-size: small;
      
    }
    thead, tbody{
        border-radius: 2px;
    }
    ul.list-inline {
       font-size: small;
    }
    .col-md-8.col-lg-9.order-md-last {
      margin-top: 5%;
      margin-bottom: 5%;
  }
  #btnCompra, #btnCompra2, #btnCompra3, #btnValidaDatos, #btnIraCuenta, #btnQr, #btnElimina{
    font-size: x-small;
}

label.form-label {
  font-size: small;
}
input.paguitos{
  width: 50px;
}
input.paguitos{
  height: auto;
   width: 50px;
   margin-right: 13%;
 }
 input.paguitos1{
  height: auto; 
  width: 50px; 
  margin-right: 13%;
 }
 strong.headl {
  font-size: medium;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  text-indent: -5px;
  margin-bottom: 5%;
  line-height: .3;
    margin-left: 3%;
}
.col-md-3.sm-12.order-md-2.mb-4 {
  font-size: small;
}
.d-flex {
  padding-inline-end: 10px;
}
#resumenBarra{
  position: static;
}
li.list-group-item.d-flex.justify-content-between.lh-condensed {
    position: static;
}
strong.paguenme {
  font-size: x-small;
}
  }/* responsivos*/ 

  form#form {
    margin-bottom: 5%;
}
hr.col-md-12 {
    margin: 0;
}