#pelotaindex{
    display: block; 
    margin: auto; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
}
.primerCarrusel{
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    text-shadow: 5px 5px 2px black;
    font-size: 55pt;
    
}
#animacionPelota{
    overflow: hidden;
}
div#animacionPelota{
    animation: scrolling 3s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#pelotaindex{
    animation-name: LogoAnimacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    overflow:hidden;

}
@keyframes scrolling{
    0% {transform: translateX(-40%)}
    100% {transform: translate(40%)}
}
@keyframes LogoAnimacion {
    from{
        transform: rotate(0d);
    }   
    to{
        transform: rotate(360deg);
}        
}
.segundoCarrusel{
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    text-shadow: 5px 5px 2px black;
    font-size: 55pt;
    
}
.tercerCarrusel{
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    text-shadow: 5px 5px 2px black;
    font-size: 55pt;
    
}
.fecha{
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    font-size: 20pt;
}
.botonver{
    border: none;
    background-color:#E4C247;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Montserrat';
}
.botonmaria{
    border: none;
    background-color:#E4C247;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Montserrat';
}