.container{
    font-size: 12pt; 
    font-family: 'Montserrat'; 
}
.textoFormulario{
    margin-top: 25px;
    font-size: 20pt; 
    font-family: 'Montserrat';
}
#form{
    margin-top: 60px;
    margin-bottom: 30px;
}
#section{
    background-color:#e4c24765; 
    width:100%;
}
#section option{
    background-color:#e4d4997e; 
    width:100%;
}
#tituloobra{
    border: none;
}
#btnFake{
    background-color:#e4c24765; 
    border: none; 
    color: black; 
    font-size: 10pt;
    height: 45px; 
    width: 100%; 
    margin-top: 2%;
    margin-left: 0%;
}
.btn-primary{
    margin-top: 0%;
}
.btn.btn-primary{
    background-color:#008e93b9; 
    border: none; 
    float: right;
}
.btn.btn-primary:hover{
    background-color:rgb(2, 138, 143); 
    border: none; 
    float: right;
}
.mb-3{
    margin-top: 0%;
}