html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
@font-face {
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}
/*Navegador*/
@keyframes LogoAnimacion {
    from{
        transform: rotate(0d);
    }   
    to{
        transform: rotate(360deg);
}        
}
               
.LogoAnimacion{
    animation-name: LogoAnimacion;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    overflow:hidden;
}

@keyframes btn {
    0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }         
}
.btnCart{
    animation-name: btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state:initial;
}
.navbar-nav .dropdown-toggle{
    color: #F5F5F5!important; /*Estos !important son porque en "Acerca de nosotros" y "contacto" no "los lee"*/
    font-size: 13pt; 
    width: auto;
}
.dropdown-menu{
    margin-left: 100px !important;
    background-color:#e6e6e6 !important; 
    font-family: 'Montserrat';
    border-radius: 10px;
    color:#242424;
}
.dropdown-item:hover{
    padding: 3.5%;
    border-radius: 5px;
    background-color: #E4C247 !important;
    color:#F5F5F5 !important;
    font-size: large;
}
#Actl{
    font-family: 'Montserrat';
    color:#E4C247; 
    font-size: 14pt;
    text-decoration-line: none;
}
#Actl:hover{
    background-color: #E4C247; 
    border-radius: 15px;
    color: #b3252c!important;
}
#Actl:focus{
    color: #b3252c!important;
}
a:focus{
    color: #E4C247;
}
.navbar{
    background-color: #b3252c;
    justify-content: space-between;
    height: 80px;
}
.input-group-text{
    background-color: #F5F5F5;
}
.navbar-brand{
    padding: 1rem;
}
#usuario-nav{
    color: #F5F5F5; 
    font-size: 12pt; 
    width: auto; 
    margin-right:8px;
}
.nav-link{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #F5F5F5;
}
.nav-link:hover{
    padding: 1%;
    background-color: #E4C247;
    border-radius: 1rem;
  }
  .nav-link:focus{
    padding: 3%;
    background-color: #e44747;
    border-radius: 1rem;
}
.navbar-toggler{
    border-color: #E4C247;
}
.navbar-toggler:hover{
    background-color: #E4C247;
    border-color: #E4C247;
}
.navbar-toggler:focus{
    border-color: #F5F5F5;
    box-shadow: none;
}
.navbar-toggler-icon{
    border-color: #E4C247;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.container-fluid{
    background-color: #b3252c;
}
/*Navegador*/
/*footer*/
footer{
    margin-top: auto;
    bottom: 0;
    background-color: #242424;
    width: 100%;
    height: 10%;
}

#FooterLHDMI{
    padding-top: 10px;
    text-align: center;
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #008e93;
}

.col p{
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    font-weight: regular;
    color:#242424;
}

.TyC a{
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    color: #f5f5f5;
    text-decoration: none;
    padding: 0.5%; 
    text-align: left; 
}

.col-8{
    text-align: left;
    padding-top: 50px;
    margin-top: 2%;
}
.col-8 a{
    text-decoration: none;
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    color: #f5f5f5;

}

hr{
    color: #008e93;
   border-top-width: 3px;
   margin-left: 59px;
   margin-right: 59px;
}
.card-img-top{
    border-radius: 3rem;
}

.vinculos a {
    text-align: center; 
    font-family: 'Montserrat';
    color: #F5F5F5;
    text-decoration: none;
}

.vinculosDiv {
    margin-top: 50px;
}

.vinculos a:hover {
    background-color: #008e93;
    padding: 0.5%;
    border-radius: 5px;
}

.vinculos a:focus {
    background-color:#e44747!important;
}



.btn-primary{
    margin-top: 5%;
    margin-left: 5%;
}

.redes-sociales-title p {
    font-weight: bold;
    color: #008e93;
    font-size: 12pt;
    text-align: center; 
    margin-top: 30px;
}

.social-media-container {
    text-align: center; 
}

.nav-underline {
    text-align: center; 
}

.nav-item {
    text-align: left; 
    display: inline-block; 
}

.footer-divider {
    border-top: 4px solid #008e93; 
    width: 100%; 
    margin-left: 0;
}

/*RESPONSIVE VISTA "portatil"*/
@media only screen and (max-width: 1024px) {
#galeria-item{
    font-size: 10pt;
    font-weight: 400;
}
#usuario-nav{
    font-size: 10pt;
    font-weight: 400;
}
.nav-link{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 10pt;
    font-weight: 400;
    color: #F5F5F5;
}
.nav-link:hover{
    padding: 1%;
    background-color: #E4C247;
    border-radius: 1rem;
  }
  .nav-link:focus{
    padding: 3%;
    background-color: #e44747;
    border-radius: 1rem;
}
#search{
    translate: -3px;
}
.form-control{
    height: 25px!important;
}
#button-addon1{
    height: 25px!important;
}
.btnCart.btn.btn-outline-warning{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (min-width: 200px) {
    .logoRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*RESPONSIVE VISTA Tablet*/
@media only screen and (max-width: 768px) {  
    /*nav-hamburguesa*/
.navbar-collapse{
    display: flex;
    justify-content: flex-start;
}
@keyframes slidein {
    from {
      margin-top: -100%;
      width: 30%;
    }
  
    to {
      margin-top: 0%;
      width: 30%;
    }
  }
#search{
    animation-duration: 0.45s;
    animation-name: slidein;
    position: absolute;
    top: 140px;
    right: 0px;
    translate: -3px;
    width: 30%!important;
}
.form-control{
    height: 25px!important;
}
#button-addon1{
    width: 32px;
    height: 25px!important;
}

.footer-bar {
    display: none;
  }

  .TyC .footer-rights a {
    font-size: 10px;
}

.redes-sociales-title{
    visibility: hidden;
}

}

/*RESPONSIVE VISTA CELULAR*/
@media only screen and (max-width: 480px) {  
/*nav-hamburguesa*/
.navbar-collapse{
    display: flex;
    justify-content: flex-start;
}
#galeria-item{
    margin-top: 100px;
}
.dropdown-menu{
    position: relative;
    width: 70%;
    background-color:#e6e6e6 !important; 
    font-family: 'Montserrat';
    border-radius: 10px;
    color:#242424;
}
@keyframes slidein {
    from {
      margin-top: -100%;
      width: 30%;
    }
  
    to {
      margin-top: 0%;
      width: 30%;
    }
  }
#search{
    animation-duration: 0.45s;
    animation-name: slidein;
    position: absolute;
    top: 68px;
    left: 18px;
    width: 55%!important;
}
.form-control{
    height: 25px!important;
}
#button-addon1{
    width: 32px;
    height: 25px!important;
}
/*
.form-control.me-2{
    position: absolute;
    left: 50px;
    top: 75px;
    border-radius: 11px!important; 
    border-color: #E4C247 !important; 
    border-width: 3px !important; 
    height: 30px !important;
    width: 180px !important; 
    translate: 0px;
}
.input-group-text{
    position: absolute;
    left: 15px;
    top: 83px;
    border-radius: 11px!important; 
    border-color: #E4C247; 
    border-width: 1px;
    height: 30px;
    width: 30px;
}
.bi.bi-search{
    height: 25px;
    translate: -8px;
}*/
#divlogin{
    position: absolute;
    left: 15px;
    width: 80px;
    top: 125px;
}
.btnCart.btn.btn-outline-warning{
    width: 35px;
    height: 30px;
    right: 25px;
    position: absolute;
    top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#usuario-menu{
    translate: 295px;
}

div, .col{
    align-items: center;

}
.card-img-top{
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}
strong, h1, h2{
    font-size: medium;
}
h1, .scrollsTemporada, .scrollsPerzon, .scrollsStock{
    text-align: center;
    margin-top: 1rem;
}

.btn-primary{
    margin-top: 5%;
    margin-left: 10%;
}
.card-title, .card-subtitle {
    font-size: small;
}
.cardt, .cards, .cardp{
   height:30%;
   width: 80%;
   align-items: center;
   margin: 0 auto ;
}
.col p{
    font-size: small;
    text-align: center;
    
}

img.icontel {
    margin-bottom: 1rem;
}
/*responsive de pag nosotras*/
.d-flex.justify-content-center.contactanosY { 
    height: auto;
    text-align: center;
}
strong.ntitulos {
    font-size: medium;
    font-family: 'Montserrat', sans-serif; 
}
p.contactanosX{
    font-size: 12pt; 
     margin-bottom: 10px;
}
strong.subsCon, strong.subsCon1{
    font-size: 14pt;
    
}
p.card-text.responsivito {
    font-size: 12pt;
}
.card.demujer {
    position: static;
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.card.demujer1 {
    margin-top: -7px; 

}

.a{
margin-bottom: 5%;
}
/*botones de cards nosotras*/
.btn-g {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 200px;   
}
<<<<<<< HEAD
.nav-item {
    display: inline-block;
    text-align: start;
}/*arreglito*/
=======

.topMarginCarrito{
    margin-top: 150px;
}
>>>>>>> ceap
}
/*RESPONSIVE VISTA CELULAR termina aquí*/
