html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
@font-face {
    font-family: 'Moche';
    src: url(/src/fuentes/Moche-Pepite/Moche/TTF/Moche-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.googleapis.com/css?family=Montserrat);
}
/*Navegador*/
@keyframes LogoAnimacion {
    from{
        transform: rotate(0d);
    }   
    to{
        transform: rotate(360deg);
}        
}
               
.LogoAnimacion{
    animation-name: LogoAnimacion;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    overflow:hidden;
}

@keyframes btn {
    0%,
  100% {
    transform: scale(1);
  }
  25%,
  75% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }         
}
.btnCart{
    animation-name: btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state:initial;
}
.dropdown-menu{
    margin-left: 100px ;
    background-color:#e6e6e6; 
    font-family: 'Montserrat';
    border-radius: 10px;
}
.dropdown-item{
    font-style: 'Montserrat, san-serif';
    font-weight:bold;
    color:#242424;
}
.dropdown-item:hover{
    padding: 3.5%;
    border-radius: 5px;
    background-color: #E4C247;
    color:#F5F5F5;
    font-size: large;
}
.dropdown-item:focus{
    color: #b3252c;
}
#Actl{
    font-family: 'Montserrat';
    color:#E4C247; 
    font-size: 14pt;
    text-decoration-line: none;
}
#Actl:hover{
    background-color: #E4C247; 
    border-radius: 15px;
    color: #b3252c!important;
}
#Actl:focus{
    color: #b3252c!important;
}
a:focus{
    color: #E4C247;
}
.navbar{
    background-color: #b3252c;
    justify-content: space-between;
    height: 80px;
}
.input-group-text{
    background-color: #F5F5F5;
}
.navbar-brand{
    padding: 1rem;
}
.nav-link{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #F5F5F5;
}
.nav-link:hover{
    padding: 1%;
    background-color: #E4C247;
    border-radius: 1rem;
  }
  .nav-link:focus{
    padding: 3%;
    background-color: #e44747;
    border-radius: 1rem;
}
.navbar-toggler{
    border-color: #E4C247;
}
.navbar-toggler:hover{
    background-color: #E4C247;
    border-color: #E4C247;
}
.navbar-toggler:focus{
    border-color: #F5F5F5;
    box-shadow: none;
}
.navbar-toggler-icon{
    border-color: #E4C247;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F5F5F5' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.container-fluid{
    background-color: #b3252c;
}
/*Navegador*/
/*Cards Biografías*/
.d-flex.justify-content-center.contactanosY {
    grid-column: span 18; 
    --bs-gap: .5rem; 
    background-color: #008E93; 
    color: #ffffff; 
    font-family: 'Montserrat'sans-serif; 
    height: auto;
}
strong.ntitulos {
    font-size: 3rem;
}
p.contactanosX{
    font-size: 14pt; 
    text-align: center;
     margin-bottom: 20px;
}
strong.subsCon {
    font-size: 36pt;
    color: #ffffff;
}
strong.subsCon1{
    font-size: 24pt;
     color: #ffffff;
}
p.card-text.responsivito {
    font-size: 24pt;
}
.card.demujer {
    border-radius: 20px; 
    text-align: justify;
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem; 
    height: auto;
}
h1{
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    color: #242424;
    text-align: left;
}
.col{
    gap: 5rem;
}
.container{
    gap: 10rem;
}
.container2{
    gap: 10rem;
} 
.card1{
    background-color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    height: 33rem;
    font-family: 'Montserrat';  
}
.card2{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card3{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card4{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card5{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card6{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card7{ background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';
}
.card8{
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';    
}
.btn-g{
    border-radius: 5px;
    text-decoration: none;
    font-size: 70%;  
    color: #000000; 
    background-color: #E4C247;
    box-shadow: 0px 5px 8px rgba(109, 109, 109, 0.301);
    width: 150px;
    margin-left: 43%; 
    transform: translateX(-42%); 
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute; 
    height: 25px; 
    padding: 2%;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*Cards Biografías*/
/*Galeria*/
.container3{
    display: flex;
    justify-content: space-between;
}
.main{
    width: 70%;
    float: left;
}
.aside{ 
    width: 40%;
    float: right;
}
.cardt{
    background-color: #E4C247;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat'; 
}

.cards{
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';   
}

.cardp{
    background-color: #008e93;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Montserrat';   
}
#btnComprar{
    border: none;
    background-color:#E4C247;
    border-radius: 8px;
    justify-content: center ;
    text-align: center; 
}
/*Termina Galería*/
/*footer*/
footer{
    margin-top: auto;
    bottom: 0;
    background-color: #242424;
    width: 100%;
    height: 10%;
}

#redes p{
    font-family:'Montserrat'sans-serif;
    font-size: 1pt;
    font-weight: bold;
    color: #008e93;
    margin-top: auto;
}

#FooterLHDMI{
    padding-top: 25px;
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #008e93;
}

.col p{
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    font-weight: regular;
    color:#242424;
}

.TyC a{
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    color: #f5f5f5;
    text-decoration: none;
    padding: 0.5%; 
    text-align: left; 
}

.col-8{
    text-align: left;
    padding-top: 50px;
    margin-top: 2%;
}
.col-8 a{
    text-decoration: none;
    font-family:'Montserrat'sans-serif;
    font-size: 12pt;
    color: #f5f5f5;

}

hr{
    color: #008e93;
   border-top-width: 3px;
   margin-left: 59px;
   margin-right: 59px;
}
.card-img-top{
    border-radius: 3rem;
}

#redes a{
    text-decoration: none;
}
#redes{
    
    padding-bottom: 3%;
    margin-top:auto;
}

#pelota img{
    margin-top: 40%;
    padding: auto;
}
#vinculos:focus{
    background-color:#e44747!important;
}
#vinculos:hover{
    background-color: #008e93;
    padding: 0.5%;
    border-radius: 5px;
}

.btn-primary{
    margin-top: 5%;
    margin-left: 5%;
}
/*RESPONSIVE VISTA CELULAR*/
@media only screen and (max-width: 480px) {  
    #redes a{
        display: inline-block;
        position: relative;
        padding-top: 1%;
        width: 60%;
        height: 60%;
        margin-left: 20%;
    }
div, .col{
    align-items: center;
    
}
.card-img-top{
    width: 150px;
    height: 150px;
    border-radius: 1rem;
}
strong, h1, h2{
    font-size: medium;
}
h1, .scrollsTemporada, .scrollsPerzon, .scrollsStock{
    text-align: center;
    margin-top: 1rem;
}
.btn-primary{
    margin-top: 5%;
    margin-left: 10%;
}
.card-title, .card-subtitle {
    font-size: small;
}
.cardt, .cards, .cardp{
   height:30%;
   width: 80%;
   align-items: center;
   margin: 0 auto ;
}
.col p{
    font-size: small;
    text-align: center;
    
}
/*responsive de pag nosotras*/
.d-flex.justify-content-center.contactanosY { 
    height: auto;
    text-align: center;
}
strong.ntitulos {
    font-size: medium;
    font-family: 'Montserrat', sans-serif; 
}
p.contactanosX{
    font-size: 12pt; 
     margin-bottom: 10px;
}
strong.subsCon, strong.subsCon1{
    font-size: 14pt;
    
}
p.card-text.responsivito {
    font-size: 12pt;
}
.card.demujer {
    position: static;
    margin-top: 15px; 
    margin-bottom: 15px; 
}
.card.demujer1 {
    margin-top: -7px; 

}

/*reponsive de footer*/
#redes{
    margin-left: 30%;
    margin-top: -20%;
    
}
.a{
margin-bottom: 5%;
}
/*botones de cards nosotras*/
.btn-g {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 200px;
    
}

} 
/*RESPONSIVE VISTA CELULAR termina aquí*/

/*footer*/
/*STYLE CONTACTO*/
.formulario{
    font-family: 'Montserrat';
    font-size: 14pt;
}
.textoFormulario{
    text-align: center;
    font-family: 'Montserrat';
}
/*STYLE CONTACTO*/
/*STYLE CONTACTO*/
.formulario{
    font-family: 'Montserrat';
    font-size: 14pt;
}
.textoFormulario{
    text-align: center;
    font-family: 'Montserrat';
}
#btnEnviar{
    border: none;
    background-color:#008e938a;
    border-radius: 10px;
}
/*STYLE CONTACTO*/
/*Style Log In*/
#registro_nuevo{
    padding-top: 10%; 
    padding-bottom: 10%; 
    display: flex; 
    justify-content:flex-start; 
    background: #008e93;
    font-family:'Montserrat';
    font-size: 14pt;
    font-weight: lighter;
}
#registro_nuevo label{
    margin-left: 8%;
    margin-right: 8%;
    color: #F5F5F5;
}
#registro_nuevo input{
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
    color: #F5F5F5;
    border-color: #242424;
    border-width: 1px;
    border-style: solid;
    background-color:#f5f5f5; 
    opacity: .4;
    color: black;
}
#registro_nuevo p{
    margin-bottom: 8%;
    margin-left: 8%;
    font-family: 'Montserrat';
    font-size: 20pt;
    color: #F5F5F5;
    font-weight: bold;
}
#registro_nuevo button{
    margin: 8% auto 0 9%;
    background-color: #f5f5f5ce;
    font-family: 'Montserrat';
    font-size: 12pt;
    color: #242424;
    border-color: #0c6364;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 13px;
}
#registro_nuevo button:hover{
    margin: 8% auto 0 9%;
    background-color: #8a0500;
    font-family: 'Montserrat';
    font-size: 12pt;
    color: #f5f5f5;
    border-color: #ffffff;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 13px;
}
/*iniciar session*/
#iniciar_sesion{
    padding-top: 10%; 
    padding-bottom: 10%; 
    display: flex; 
    justify-content:flex-start; 
    background: #B3252C;
    font-family:'Montserrat';
    font-size: 14pt;
    font-weight: lighter;
}
#iniciar_sesion label{
    margin-left: 8%;
    margin-right: 8%;
    color: #F5F5F5;
}
#iniciar_sesion input{
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
    color: #F5F5F5;
    border-color: #242424;
    border-width: 1px;
    border-style: solid;
    background-color:#f5f5f5; 
    opacity: .4;
}
#iniciar_sesion p{
    margin-bottom: 8%;
    margin-left: 8%;
    font-family: 'Montserrat';
    font-size: 20pt;
    color: #F5F5F5;
    font-weight: bold;
}
#iniciar_sesion button{
    margin: 23% auto 0 9%;
    background-color: #f5f5f5ce;
    font-family: 'Montserrat';
    font-size: 12pt;
    color: #242424;
    border-color: #8a0500;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 13px;
}
#iniciar_sesion button:hover{
    margin: 23% auto 0 9%;
    background-color: #0c6364;
    font-family: 'Montserrat';
    font-size: 12pt;
    color: #f5f5f5;
    border-color: #ffffff;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 13px;
}
#checkBox{
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
    color: #F5F5F5;
    font-family: 'Montserrat';
    font-size: 10pt;
}
/*
#checkBox .form-check{
    div del checkbox, checar que se aliene a la izquierda
}*/
.checkbox{
    float: left;
    margin-left: 5%;
}
/*Style Log In*/
